@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/caviardreams_bold-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('../fonts/caviardreams_bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('../fonts/caviardreams_italic-webfont.woff2') format('woff2'),
         url('../fonts/caviardreams_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div, input, select, textarea, span, img, table, td, th, p, a, button, ul, code, pre, li {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'caviar_dreamsregular', sans-serif;
    font-weight: 300 !important;
    text-transform: uppercase;
}

input{
	outline: none !important;
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    direction: ltr;
}

.loading{
	background-image: url(../images/pattern.png);
	background-color: white;
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 22;
}

.loading img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: block;
    position: relative;
    top: calc(50% + (-40px));
}

.background{ 
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1; 
	background: url(../images/background.svg) no-repeat center; 
 	background-size: cover;
}

.background .strips{  
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; 
	background: url(../images/pattern.png) repeat;
}

.timestamp{
    font-family: "caviar_dreamsregular";
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: white;
    text-align: right;
}

.timestamp .time{
   font-size: 20px;
}

.timestamp .date{
   font-size: 14px;
}

.timestamp .timeLebel{
   font-size: 10.5px;
}



.background img{ 
	height: 100%;
	width: 100%;
}

.mainPanel{
    position: fixed;
    width: 100%;
    height: 100%;
}

.leftPanel{
    position: relative;
    width: 300px;
    height: 100%;
    float: left;
}

.rightPanel{
    position: relative;
    width: calc(100% + (-390px));
    height: 100%;
    float: left;
    left: 0; 
}

#statusBar{   
    position: relative;
    z-index: 5;
    height: 100%;
}

#statusBar > div{
    height: calc(33.333333333% + (-30px));  
    margin: 15px;
    width: calc(100% + (-30px));
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
}

#statusBar > div .title  {
    background: black;
    width: 100%;
    display: inline-block;
    padding: 2px 5px;

}

#statusBar > div .title p{
    color: white;
    font-family: 'caviar_dreamsregular';
    font-size: 25px;
    float: left;
    padding: 0 15px;
    background: black;
    margin: 0px;
}

#statusBar > div .title .icon{
    float: left;
    padding: 2px;
}

#statusBar > div .title .icon img{
    width: 30px;
}

#statusBar > div .dial{
    position: relative;
    top: -5px;
    width: 80%;
    margin: 0 auto;
    height: calc(100% + (-39px));
    overflow: hidden;
}

#statusBar > div .dial > div{
    position: relative;
    margin: 0 auto;
}

.chamber{  
    height: 100%;
}

.chamber img{
    margin: 0 auto;
}

.island{  
    top: 0;
    position: relative;
    -webkit-transition: top 1s; /* Safari */
    transition: top 1s; 
}

.ground{
    background: url(../images/island.svg) no-repeat center bottom;
    background-size: contain;
    max-width: 800px;
}

.mushrooms {
    position: relative;
    top: 0px;
    z-index: 2;
    max-width: 800px;
    width: 100%;
}


#globalMist {
  background: transparent;
  opacity: 0.0;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 1s; /* Safari */
  transition: opacity 1s;
}

.sunshine{
	background: url(../images/sunshine.png) no-repeat top right;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-size: cover;
	opacity: 0.0;
	-webkit-transition: opacity 1s; /* Safari */
	transition: opacity 1s;
}

.sunshine.front{
	background: url(../images/sunshineFront.png) no-repeat top right;
	background-size: cover;
	z-index: 3;
} 

.frontCloud{
	opacity: 0.0;
	width: 100%;
    height: 200px;
    background: url(../images/frontCloud.png) no-repeat center;
    background-size: auto;  
    position: fixed;
    bottom: 150px; 
    z-index: 2;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
    -webkit-animation-name: animateFrontCloud;
    -webkit-animation-duration: 140s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;;
    -moz-animation-name: animateFrontCloud;
    -moz-animation-duration: 140s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;;
    -ms-animation-name: animateFrontCloud;
    -ms-animation-duration: 140s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;;
    animation-name: animateFrontCloud;
    animation-duration: 140s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

 
@-ms-keyframes animateFrontCloud{ 
	from {-ms-transform:translate(0, 0px); background-position: -379.54px 0%;} 
	20% {-ms-transform:translate(0,  -50px);} 
	40% {-ms-transform:translate(0,  0px);} 
	60% {-ms-transform:translate(0,  -50px);} 
	80% {-ms-transform:translate(0,  -0px);} 
    to {-ms-transform:translate(0, -50px); background-position: calc(100% + 379px) 0%;} 
}
@-moz-keyframes animateFrontCloud{
	from {-moz-transform:translate(0, 0px); background-position: -379.54px 0%;} 
	20% {-moz-transform:translate(0,  -50px);} 
	40% {-moz-transform:translate(0,  0px);} 
	60% {-moz-transform:translate(0,  -50px);} 
	80% {-moz-transform:translate(0,  -0px);} 
    to {-moz-transform:translate(0, -50px); background-position: calc(100% + 379px) 0%;} 
}
@-webkit-keyframes animateFrontCloud{ 
	from {-webkit-transform:translate(0, 0px); background-position: -379.54px 0%;} 
	20% {-webkit-transform:translate(0,  -50px);} 
	40% {-webkit-transform:translate(0,  0px);} 
	60% {-webkit-transform:translate(0,  -50px);} 
	80% {-webkit-transform:translate(0,  -0px);} 
    to {-webkit-transform:translate(0, -50px); background-position: calc(100% + 379px) 0%;} 
}
@keyframes animateFrontCloud{
	from {transform:translate(0, 0px); background-position: -379.54px 0%;} 
	20% {transform:translate(0,  -50px);} 
	40% {transform:translate(0,  0px);} 
	60% {transform:translate(0,  -50px);} 
	80% {transform:translate(0,  -0px);} 
    to {transform:translate(0, -50px); background-position: calc(100% + 379px) 0%;} 
}

.backCloud{
	opacity: 0.0;
	width: 100%;
    height: 500px;
    background: url(../images/backCloud.png) no-repeat center;  
    position: absolute;
    top: 250px;
    z-index: 0;
    -webkit-animation-name: animateBackCloud;
    -webkit-animation-duration: 200s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: animateBackCloud;
    -moz-animation-duration: 200s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: animateBackCloud;
    -ms-animation-duration: 200s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: animateBackCloud;
    animation-duration: 200s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes animateBackCloud{ 
	0%  {background-position: -473.5px 0%;} 
	100% {background-position: calc(100% + 473.5px) 0%;}
}
@-moz-keyframes animateBackCloud{
	0%  {background-position: -473.5px 0%;} 
	100% {background-position: calc(100% + 473.5px) 0%;}
}
@-webkit-keyframes animateBackCloud{
	0%  {background-position: -473.5px 0%;} 
	100% {background-position: calc(100% + 473.5px) 0%;}
}
@keyframes animateBackCloud{ 
	0%  {background-position: -473.5px 0%;} 
	100% {background-position: calc(100% + 473.5px) 0%;} 
}

.floating{ 
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-top: 5px;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 5px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 5px);}
    to {-moz-transform: translate(0, -0px);}    
}

.scaling{ 
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }

.automationBtn{
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    z-index: 10;
}

.charts{
    margin: 15px;
    z-index: 10;
    position: absolute;
    right: 0;
}

.charts > div , .automationBtn > div {
    display: block;
    padding: 5px;
    height: 60px;
    width: 60px;
    margin-bottom: 15px;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    transition: background 0.3s linear;
    border: 1px solid black;
}

.charts > div:hover, .automationBtn > div:hover {
    background: #212121;
    cursor: pointer;
    border: 1px solid white;
}

.charts .active{
    background: #edff21 !important;
}

 /*MODAL*/

 .modal-full.modal-dialog {
    width: 98%;
}

.modal-header {
    border-bottom: 1px solid #EFEFEF;
}

.close {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat !important;
    text-indent: -10000px;
    outline: none;
    background-image: url("../images/remove-icon-small.png") !important;
}

.tabbable {
    margin-bottom: 15px;
    padding: 0px;
    overflow: hidden;
}

.tabbable > .nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable .nav-tabs > li.active {
    border-top: 3px solid black;
    margin-top: 0;
    position: relative;
}
.tabbable .nav-tabs > li {
    margin-right: 2px;
    border-top: 2px solid transparent;
}
.tabbable .nav-tabs > li {
    margin-right: 2px;
    border-top: 2px solid transparent;
}

.tabbable .nav-tabs > li.active > a {
    border-top: none;
    font-weight: 400;
}
.tabbable .nav-tabs > li > a {
    margin-right: 0;
}
 
.nav-tabs > li > a, .nav-pills > li > a {
    font-size: 14px;
}

.tabbable > .tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px;
}  

.input-icon {
    position: relative;
}

.input-icon i { 
    color: #ccc;
    display: block;
    position: absolute;
    margin: 9px 2px 4px 10px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    z-index: 10;
}

.input-icon input {
    padding-left: 33px !important;
    text-align: left;
}

.form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #6d6d6d;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-group-addon{
	color: white;
    background: black;
    border: 1px black solid;
}

.cardView{ 
    margin: 15px;
    padding-top: 1px;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.7), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.4) inset;
}

.cardView .valueContainer{  
    color: white;
    font-family: 'caviar_dreamsregular';
    font-size: 26px;   
    text-align: center;
    margin: 15px;   
} 

.cardView .img{  
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px auto;
}

.progressBar{
    height: 4px;
}

.Low{
    background-color: #FFD600; 
    max-width: 100%;
}

.OK{
    background-color: #00ff00; 
    max-width: 100%;
}

.High{
    background-color: #ff0000; 
    max-width: 100%;
}

.status{
    width: 100%;
    height: 6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #818181;
}

#settings{
    width: 300px;
    margin: 0 auto;  
    padding-top: 20px;
}

#settings .control{
    padding: 5px 10px;
}
#settings .modal-dialog{
    margin-top: 50%;
    margin: 0px;
}

#settings .modal-body{
    padding: 10px 5px;
}

#settings .modal-content{
    width: 300px;
}

#settings .modal-header{
    background: url("../images/settingsCover.png");
    height: 120px;
}
/*MEDIA QUERIES*/

#settings #updateParameters{ 
    color: white; 
    background: rgba(0,0,0,0.8);
    border: 1px solid black;
    font-family: 'caviar_dreamsregular', sans-serif;
    padding: 8px 10px;
}

#settings #updateParameters:hover{ 
    background: #212121; 
}

#settings #cancelParameters{ 
    color: white; 
    background: #72a433;
    border: 1px solid black;
    font-family: 'caviar_dreamsregular', sans-serif;
    padding: 8px 10px;
}

#settings #cancelParameters:hover{ 
    background: #486721; 
}

#settings img{
    max-width: 45px;
    margin: 0 auto;
    padding: 6px 7px;
}

.modal-open .main{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

@media (min-width: 768px){
	.modal-dialog {
	    width: 600px;
	    margin: 10px auto 20px auto;
	}

    
}

@media only screen and (max-width: 768px){ 
    .rightPanel {
        position: relative;
        width: 100%;
        float: left;
        left: 0;
        padding: 15px;
    }
    .sunshine.front { 
        z-index: -1;
    }

    .charts{
        display: flex;
    }

    .chamber { 
        height: auto;
    }

    .charts {
        display: flex;
        width: 360px;
        position: relative;
        padding-top: 30px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .mainPanel {
        position: relative; 
    }

    .mushrooms {  
        max-width: 400px; 
    }

    .timestamp{
        position: relative;
        right: 15px;
        top: 0;
    }
     
}

@media only screen and (max-width: 400px){ 

    .charts > div , .automationBtn > div {
        width: 50px;
        height: 50px;
         margin: 0 2px;
    }
    .charts {
        width: 300px;

    }

}


 